header {
  width: 100%;
  background-color: lightblue;
}

h2 {
  text-align: left;
}

ul {
  text-align: right;
  color: #ffffff;
}

/* List items in navigation bar */
li {
  /* Added Display:inline-block */
  list-style-type: none;
  font-size: 40px;
  display: inline-block;
}

/* Boxes */
img {
  /* TODO: Add your code here */
  margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  ;
}

#item-1 {
  background-color: #e0115f;;
}

#item-2 {
  background-color: #0000ff;
}

#item-3 {
  background-color: #999900;
}

/* Removed that funky bit at hiding it */
#image-3 {
  
}
