/* Added the margin tags*/
section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
  margin: auto;

  display: block;
}
/*Added the margin padding and border */
img {
  width: 200px;
  height: 200px;
  display: auto;
  background-color: lightblue;
  margin: 4%;
  padding: 15px;
  border:solid blue 10px;
}